.right {
  width: 47%;
  background: #fff;
}

.infoContainer {
  width: 82%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.6);
  display: flex;
  justify-content: space-around;
}

.verticalLine {
  width: 5px;
  min-height: 145px;
  height: auto;
  border-radius: 10px;
  background: #CACFD2;
}

.sliderContainer div {
  width: 180px;
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.6);
  border-radius: 10px;
}


@media screen and (max-width: 1117px) {
  .right {
    width: 100%;
  }
}